*{
    box-sizing: border-box;
}
header{
    background-color: rgb(24, 33, 34); 
    color: cornsilk;
    
}

main{
    display:flex;
    height: 100vh;
    background-image: url(/bilder/smoke.jpg);
    background-size: cover;
    
}

.musicList{
    background-color: rgb(35, 47, 48,0.9);
    background-size: cover;
    width:50%;
    margin-right: px;
    
    
}

.musicPlayer{
    background-color: rgb(35, 47, 48,0.9);
    background-size: cover;
    width: 50%;
    align-items: center;
  

}

.header{
    display:flex;
    justify-content: space-evenly;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    color:rgb(255, 255, 255);

}
.picture{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.songInfo{
    display:flex;
    justify-content: space-evenly;
    font-size: 50px;
}
.songTitle{
    display:flex;
    align-items: center;
    flex-direction: column;
    
}
.timeLine{
    display: flex;
    justify-content: space-evenly;
}
.timeBar{
    background-color: black;
    height: 10px;
    width: 60%;
    border: 10px rgb(74, 231, 2);
}

.playerButtons{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 100px !important;


}
.fa-play-circle{
  
    color: darkred;
}
.song{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color:rgb(255, 255, 255);
    align-items: center; 
    border-top: solid rgb(10, 7, 7,0.3);  
}
.song:hover{
    background-color: rgba(105, 105, 105, 0.233);
}

ul{
    font-size: 50px;
    list-style: none;
    margin-left:;
}



h1{
    margin:0%;
    font-size: 30px;
    
}
p{
    margin:0%;
    display:block;
    font-family: 'Open Sans', sans-serif;
    color:rgb(255, 255, 255);
}
#almostEasy{
    border-bottom:solid rgb(10, 7, 7,0.3); 
}


@media screen and (max-width:895px){
    .second{
        background-color: darkred;
    }

    main{
        display:flex;
        flex-direction: column;
    }

    .musicList{
        display: inline-block;
        width: 100%;
    }
    .musicPlayer{
        display: inline-block;
        width: 100%;
    }


}