*{
    box-sizing: border-box;
}
header{
    background-color: rgb(24, 33, 34); 
    color: cornsilk;
    font-style: ;
}
body{
    background-image: url(/bilder/smoke.jpg);
    background-size: cover;
}
main{
    display:flex;
    height: 100vh;
    justify-content: space-between;
}

.musicList{
    background-color: rgb(35, 47, 48,0.9);
    background-size: cover;
    width:50%;
    margin-right: 10px;
    
    
}

.musicPlayer{
    background-color: rgb(35, 47, 48,0.9);
    background-size: cover;
    width: 50%;
}

.header{
    display:flex;
    justify-content: space-evenly;
    font-size: 50px;

}
.picture{
    display:flex;
    justify-content: center;
}
.songInfo{
    display:flex;
    justify-content: space-evenly;
    font-size: 50px;
}
.song{
    display:flex;
    align-items: center;
    flex-direction: column;
    
}
.timeLine{
    display: flex;
    justify-content: space-evenly;
}
.timeBar{
    background-color: black;
    height: 10px;
    width: 60%;
    border: 10px rgb(74, 231, 2);
}

.playerButtons{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 100px !important;


}
.fa-play-circle{
  
    color: darkred;
}


h1{
    margin:0%;
    font-size: 30px;
}
p{
    margin:0%;
    display:block;
}

@media screen and (max-width:678px){
    .second{
        background-color: darkred;
    }

    main{
        flex-direction: column;
    }

    section{
        display: inline-block;
        width: 100%;
    }

}